@import url("theme.css");

.wy-nav-content,
.wy-nav-content-wrap {
    color: #222;
    background: #fff;
}

body{
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    text-align: justify;
}

body,
.wy-body-for-nav,
.wy-nav-side,
.wy-side-nav-search,
.wy-side-nav-search img {
    background: #fcfcfc;
}

.wy-menu-vertical li.current a,
.wy-side-nav-search,
.wy-nav-side {
    border-right: none;
    box-shadow: inset -14px 0px 5px -12px rgb(210,210,210);
}

.wy-menu-vertical li.current > a,
.wy-menu-vertical li.current > a:hover {
    background: #fff;
    box-shadow: none;
}

.wy-side-nav-search img {
    width: 158px;
    height: 106px;
    border-radius: 0;
    margin: 1em;
    padding: 0;
}

.wy-side-nav-search input[type="text"] {
    border-color: rgb(201, 201, 201);
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    margin: 0 0;
}

nav.toc .logo {
    margin: 0 auto;
    display: block;
}

.wy-side-nav-search h1 {
    text-align: center;
    margin: .67em 0;
    font-size: 1.75em;
    color: #222;
    text-rendering: optimizeLegibility;
}

.wy-side-nav-search>a img.logo,.wy-side-nav-search .wy-dropdown>a img.logo {
        max-height: 18em;
        max-width:  18em;
}

div.section {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

code {
    color: #73261e;
    font-size: 80%;
}

code.descname, code.descclassname {
    border: none;
    color: #000;
    font-size: 100%;
    padding: 1px;
}

.rst-content dl:not(.docutils) {
    border-top: solid 1px #f8f8f8;
}

.rst-content dl:not(.docutils) dt {
    background: #fdfdfd;
    border-top: none;
    color: rgb(64, 64, 64);
    display: block;
    margin: 1px 0;
}


input[type="text"], input[type="password"], input[type="email"],
input[type="url"], input[type="date"], input[type="month"], input[type="time"],
input[type="datetime"], input[type="datetime-local"], input[type="week"],
input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-appearance: none;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 80%;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    transition: border 0.3s linear;
    color: rgb(0, 0, 0);
}

.under-title {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

.btn {
    box-shadow: none;
}

.wy-menu-vertical a {
    color: rgb(82, 82, 82);
}

.wy-menu a:hover {
    text-decoration: none;
    color: #FCFDF6;
}

.wy-menu-vertical ul,
.wy-menu-vertical a{
    color: #404040;
}

.codeblock, pre.literal-block, .rst-content .literal-block,
.rst-content pre.literal-block, div[class^="highlight"] {
    border: none;
}

.featureslogo {
    width: calc(100% + 2em);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    margin-bottom: -6em;
}

.featureslogo li {
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 1em;
  list-style: none outside none !important;
}

.featureslogo li img {
    max-height: 100px;
    max-width:250px;
    width:auto;
}

dl.function{
    border: 1px solid #ddd;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 3px;
}

.rst-versions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    color: #fcfcfc;
    background: #1f1d1d;
    border-top: solid 10px #343131;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    z-index: 400
}

.rst-versions a {
    color: #2980B9;
    text-decoration: none
}

.rst-versions .rst-badge-small {
    display: none
}

.rst-versions .rst-current-version {
    padding: 12px;
    background-color: #272525;
    display: block;
    text-align: right;
    font-size: 90%;
    cursor: pointer;
    color: #27AE60;
    *zoom: 1
}

.rst-versions .rst-current-version:before,
.rst-versions .rst-current-version:after {
    display: table;
    content: ""
}

.rst-versions .rst-current-version:after {
    clear: both
}

.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,
.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand,
.rst-versions .rst-current-version .rst-content .admonition-title,
.rst-content .rst-versions .rst-current-version .admonition-title,
.rst-versions .rst-current-version .rst-content h1 .headerlink,
.rst-content h1 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h2 .headerlink,
.rst-content h2 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h3 .headerlink,
.rst-content h3 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h4 .headerlink,
.rst-content h4 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h5 .headerlink,
.rst-content h5 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h6 .headerlink,
.rst-content h6 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content dl dt .headerlink,
.rst-content dl dt .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content p.caption .headerlink,
.rst-content p.caption .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content tt.download span:first-child,
.rst-content tt.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .rst-content code.download span:first-child,
.rst-content code.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .icon {
    color: #fcfcfc
}

.rst-versions .rst-current-version .fa-book,
.rst-versions .rst-current-version .icon-book {
    float: left
}

.rst-versions .rst-current-version .icon-book {
    float: left
}

.rst-versions .rst-current-version.rst-out-of-date {
    background-color: #E74C3C;
    color: #fff
}

.rst-versions .rst-current-version.rst-active-old-version {
    background-color: #F1C40F;
    color: #000
}

.rst-versions.shift-up .rst-other-versions {
    display: block
}

.rst-versions .rst-other-versions {
    font-size: 90%;
    padding: 12px;
    color: gray;
    display: none
}

.rst-versions .rst-other-versions hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 20px 0;
    padding: 0;
    border-top: solid 1px #413d3d
}

.rst-versions .rst-other-versions dd {
    display: inline-block;
    margin: 0
}

.rst-versions .rst-other-versions dd a {
    display: inline-block;
    padding: 6px;
    color: #fcfcfc
}

.rst-versions.rst-badge {
    width: auto;
    bottom: 20px;
    right: 20px;
    left: auto;
    border: none;
    max-width: 300px
}

.rst-versions.rst-badge .icon-book {
    float: none
}

.rst-versions.rst-badge .fa-book,
.rst-versions.rst-badge .icon-book {
    float: none
}

.rst-versions.rst-badge.shift-up .rst-current-version {
    text-align: right
}

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book,
.rst-versions.rst-badge.shift-up .rst-current-version .icon-book {
    float: left
}

.rst-versions.rst-badge.shift-up .rst-current-version .icon-book {
    float: left
}

.rst-versions.rst-badge .rst-current-version {
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    display: block;
    text-align: center
}

@media screen and (max-width: 768px) {
    .rst-versions {
        width: 85%;
        display: none
    }
    .rst-versions.shift {
        display: block
    }
}

.rst-content img {
    max-width: 100%;
}

.rst-content div.figure {
    margin-bottom: 24px
}

.rst-content div.figure p.caption {
    font-style: italic
}

.rst-content div.figure.align-center {
    text-align: center
}

.rst-content .section>img,
.rst-content .section>a>img {
    margin-bottom: 24px
}

.rst-content blockquote {
    margin-left: 24px;
    line-height: 24px;
    margin-bottom: 6px;
    padding: 0px 20px 10px 20px;
}

.rst-content .note .last,
.rst-content .attention .last,
.rst-content .caution .last,
.rst-content .danger .last,
.rst-content .error .last,
.rst-content .hint .last,
.rst-content .important .last,
.rst-content .tip .last,
.rst-content .warning .last,
.rst-content .seealso .last,
.rst-content .admonition-todo .last {
    margin-bottom: 0
}

.rst-content .admonition-title:before {
    margin-right: 4px
}

.rst-content .admonition table {
    border-color: rgba(0, 0, 0, 0.1)
}

.rst-content .admonition table td,
.rst-content .admonition table th {
    background: transparent !important;
    border-color: rgba(0, 0, 0, 0.1) !important
}

.rst-content .section ol.loweralpha,
.rst-content .section ol.loweralpha li {
    list-style: lower-alpha
}

.rst-content .section ol.upperalpha,
.rst-content .section ol.upperalpha li {
    list-style: upper-alpha
}

.rst-content .section ol p,
.rst-content .section ul p {
    margin-bottom: 12px
}

.rst-content .line-block {
    margin-left: 24px
}

.rst-content .topic-title {
    font-weight: bold;
    margin-bottom: 12px
}

.rst-content .toc-backref {
    color: #404040
}

.rst-content .align-right {
    float: right;
    margin: 0px 0px 24px 24px
}

.rst-content .align-left {
    float: left;
    margin: 0px 24px 24px 0px
}

.rst-content .align-center {
    margin: auto;
    display: block
}

.rst-content h1 .headerlink,
.rst-content h2 .headerlink,
.rst-content .toctree-wrapper p.caption .headerlink,
.rst-content h3 .headerlink,
.rst-content h4 .headerlink,
.rst-content h5 .headerlink,
.rst-content h6 .headerlink,
.rst-content dl dt .headerlink,
.rst-content p.caption .headerlink {
    display: none;
    visibility: hidden;
    font-size: 14px
}

.rst-content h1 .headerlink:after,
.rst-content h2 .headerlink:after,
.rst-content .toctree-wrapper p.caption .headerlink:after,
.rst-content h3 .headerlink:after,
.rst-content h4 .headerlink:after,
.rst-content h5 .headerlink:after,
.rst-content h6 .headerlink:after,
.rst-content dl dt .headerlink:after,
.rst-content p.caption .headerlink:after {
    visibility: visible;
    content: "";
    font-family: FontAwesome;
    display: inline-block
}

.rst-content h1:hover .headerlink,
.rst-content h2:hover .headerlink,
.rst-content .toctree-wrapper p.caption:hover .headerlink,
.rst-content h3:hover .headerlink,
.rst-content h4:hover .headerlink,
.rst-content h5:hover .headerlink,
.rst-content h6:hover .headerlink,
.rst-content dl dt:hover .headerlink,
.rst-content p.caption:hover .headerlink {
    display: inline-block
}

.rst-content .sidebar {
    float: right;
    width: 40%;
    display: block;
    margin: 0 0 24px 24px;
    padding: 24px;
    background: #f3f6f6;
    border: solid 1px #e1e4e5
}

.rst-content .sidebar p,
.rst-content .sidebar ul,
.rst-content .sidebar dl {
    font-size: 90%
}

.rst-content .sidebar .last {
    margin-bottom: 0
}

.rst-content .sidebar .sidebar-title {
    display: block;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    font-weight: bold;
    background: #e1e4e5;
    padding: 6px 12px;
    margin: -24px;
    margin-bottom: 24px;
    font-size: 100%
}

.rst-content .highlighted {
    background: #F1C40F;
    display: inline-block;
    font-weight: bold;
    padding: 0 6px
}

.rst-content .footnote-reference,
.rst-content .citation-reference {
    vertical-align: super;
    font-size: 90%
}

.rst-content table.docutils.citation,
.rst-content table.docutils.footnote {
    background: none;
    border: none;
    color: #999
}

.rst-content table.docutils.citation td,
.rst-content table.docutils.citation tr,
.rst-content table.docutils.footnote td,
.rst-content table.docutils.footnote tr {
    border: none;
    background-color: transparent !important;
    white-space: normal
}

.rst-content table.docutils.citation td.label,
.rst-content table.docutils.footnote td.label {
    padding-left: 0;
    padding-right: 0;
    vertical-align: top
}

.rst-content table.docutils.citation tt,
.rst-content table.docutils.citation code,
.rst-content table.docutils.footnote tt,
.rst-content table.docutils.footnote code {
    color: #555
}

.rst-content table.field-list {
    border: none
}

.rst-content table.field-list td {
    border: none;
    padding-top: 5px
}

.rst-content table.field-list td>strong {
    display: inline-block;
    margin-top: 3px
}

.rst-content table.field-list .field-name {
    padding-right: 10px;
    text-align: left;
    white-space: nowrap
}

.rst-content table.field-list .field-body {
    text-align: left;
    padding-left: 0
}

.rst-content tt,
.rst-content tt,
.rst-content code {
    color: #000;
    padding: 2px 5px
}

.rst-content tt big,
.rst-content tt em,
.rst-content tt big,
.rst-content code big,
.rst-content tt em,
.rst-content code em {
    font-size: 100% !important;
    line-height: normal
}

.rst-content tt.literal,
.rst-content tt.literal,
.rst-content code.literal {
    color: #E74C3C
}

.rst-content tt.xref,
a .rst-content tt,
.rst-content tt.xref,
.rst-content code.xref,
a .rst-content tt,
a .rst-content code {
    font-weight: bold;
    color: #404040
}

.rst-content a tt,
.rst-content a tt,
.rst-content a code {
    color: #2980B9
}

.rst-content dl {
    margin-bottom: 24px
}

.rst-content dl dt {
    font-weight: bold
}

.rst-content dl p,
.rst-content dl table,
.rst-content dl ul,
.rst-content dl ol {
    margin-bottom: 6px !important
}

.rst-content dl dd {
    margin: 0 0 12px 24px
}

.rst-content dl:not(.docutils) {
    margin-bottom: 24px
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative
}

.rst-content dl:not(.docutils) dt:before {
    color: #6ab0de
}

.rst-content dl:not(.docutils) dt .headerlink {
    color: #404040;
    font-size: 100% !important
}

.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: solid 3px #ccc;
    background: #f0f0f0;
    color: #555
}

.rst-content dl:not(.docutils) dl dt .headerlink {
    color: #404040;
    font-size: 100% !important
}

.rst-content dl:not(.docutils) dt:first-child {
    margin-top: 0
}

.rst-content dl:not(.docutils) tt,
.rst-content dl:not(.docutils) tt,
.rst-content dl:not(.docutils) code {
    font-weight: bold
}

.rst-content dl:not(.docutils) tt.descname,
.rst-content dl:not(.docutils) tt.descclassname,
.rst-content dl:not(.docutils) tt.descname,
.rst-content dl:not(.docutils) code.descname,
.rst-content dl:not(.docutils) tt.descclassname,
.rst-content dl:not(.docutils) code.descclassname {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important
}

.rst-content dl:not(.docutils) tt.descname,
.rst-content dl:not(.docutils) tt.descname,
.rst-content dl:not(.docutils) code.descname {
    font-weight: bold
}

.rst-content dl:not(.docutils) .optional {
    display: inline-block;
    padding: 0 4px;
    color: #000;
    font-weight: bold
}

.rst-content dl:not(.docutils) .property {
    display: inline-block;
    padding-right: 8px
}

.rst-content .viewcode-link,
.rst-content .viewcode-back {
    display: inline-block;
    color: #27AE60;
    font-size: 80%;
    padding-left: 24px
}

.rst-content .viewcode-back {
    display: block;
    float: right
}

.rst-content p.rubric {
    margin-bottom: 12px;
    font-weight: bold
}

.rst-content tt.download,
.rst-content code.download {
    background: inherit;
    padding: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: inherit;
    white-space: inherit
}

.rst-content tt.download span:first-child:before,
.rst-content code.download span:first-child:before {
    margin-right: 4px
}

@media screen and (max-width: 480px) {
    .rst-content .sidebar {
        width: 100%
    }
}

span[id*='MathJax-Span'] {
    color: #404040
}

.math {
    text-align: center
}

.wy-nav-content,
.wy-nav-content-wrap {
    color: #222;
    background: #fff;
}

body,
.wy-body-for-nav,
.wy-nav-side,
.wy-side-nav-search{
    background: #fcfcfc;
}

.wy-menu-vertical li.current a,
.wy-side-nav-search,
.wy-nav-side {
    border-right: none;
    box-shadow: inset -14px 0px 5px -12px rgb(210,210,210);
}

.wy-menu-vertical li.current{
    background-color: #e3e3e3;
    box-shadow: inset -14px 0px 5px -12px rgb(210, 210, 210);
    list-style: none;
}

.wy-menu-vertical ul,
.wy-menu-vertical a{
    color: #404040;
}


.wy-menu-vertical li.current > a,
.wy-menu-vertical li.current > a:hover {
    background: #fff;
    box-shadow: none;
}

.wy-side-nav-search img {
    width: 14px;
    height: 14px;
    border-radius: 0;
    margin: 0 0 2px 6px;
    padding: 0;
    display: inline;
}

.wy-menu a:hover {
    text-decoration: none;
    color: #FCFDF6;
}

.wy-side-nav-search input[type="text"] {
    border-color: rgb(201, 201, 201);
    color: black;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    margin: 0 0;
}

nav.toc .logo {
    margin: 0 auto;
    display: block;
}

.wy-side-nav-search h1 {
    text-align: center;
    margin: .67em 0;
    font-size: 1.75em;
    color: #222;
    text-rendering: optimizeLegibility;
}

.wy-side-nav-search>a img.logo,.wy-side-nav-search .wy-dropdown>a img.logo {
        max-height: 6em;
        max-width: 18em;
}


code {
    color: #73261e;
    font-size: 80%;
}

code.descname, code.descclassname {
    border: none;
    color: #000;
    font-size: 100%;
    padding: 1px;
}

.rst-content dl:not(.docutils) {
    border-top: solid 1px #f8f8f8;
}

.rst-content dl:not(.docutils) dt {
    background: #f5f5f5;
    border-top: none;
    color: rgb(64, 64, 64);
    display: block;
    margin: 1px 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0.5em;
    overflow: auto;
}

dl.function{
    border: 1px solid #ddd;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 3px;
}

body{
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}
input[type="text"], input[type="password"], input[type="email"],
input[type="url"], input[type="date"], input[type="month"], input[type="time"],
input[type="datetime"], input[type="datetime-local"], input[type="week"],
input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-appearance: none;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 80%;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    transition: border 0.3s linear
}

.rst-content .viewcode-link, .rst-content .viewcode-back{
    color: #2980b9;
}


.readme_logo{
    height:160px;
}

table th, table td{
    padding: 6px 13px;
    font-size: 14px;
    border: 1px solid #dfe2e5;
}

blockquote {
    border-left:0;
}

.wy-menu-vertical{
    font-size: 16px;
}

.wy-menu-vertical ul, .wy-menu-vertical a {
    font-size: 16px;
}

.featureslogo {
    width: calc(100% + 2em);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    margin-bottom: -6em;
}

.featureslogo li {
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 1em;
  list-style: none outside none !important;
}

.featureslogo li img {
    max-height: 100px;
    max-width:250px;
    width:auto;
}

/* Contributorss */

.contributors {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: calc(100% + 2em);
    margin: 0 0 -4em -2em;
    padding: 0;
    list-style: none;
}

.contributors li {
    width: calc(33.33333% - 2em);
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 1.25em;
    padding: 0;
}

.contributorslogo {
    width: calc(100% + 2em);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    margin-bottom: -6em;
}

.contributorslogo li {
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 1em;
}


.contributors li:nth-child(1),
.contributors li:nth-child(2),
.contributors li:nth-child(3) {
    margin-top: 0;
}

.contributors li >:last-child {
    margin-bottom: 0;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.easy-autocomplete a {
    display: inline;
}

.easy-autocomplete-container ul li div {
    text-align: left;
}

.highlight, div[class^="highlight-"] {
    border: none;
}
